/* CSS declarations go here */
#task_list .task_item {
position: relative;
width: 775px;
}

#task_list .close {
position: relative;
top: 3px;
float: left;
right: -755px;
padding-left: 7px;
right: -782px;
}

.kickstart, .reviewproject {
float: right;
height: 20px;
margin-right: 24px;
}

.kickstart {
width: 50px;
}

.reviewproject {
position: relative;
top: -30px;
}

body {
background-image: url(/texturetastic_gray.png);
}
#task_list li.task_item p, #task_list li.task_item:hover p{
overflow-wrap: break-word;
}
#task_list li.task_item:hover #doing-project {
visibility: visible;
}
#add-newtask, #btnNewTask {
margin: 15px 0px 15px 10px;
float: left;
}
.title {
float: left;
}
#btngroup {
clear: all;
}
#btnNewTask, .category {
float: left;
}
#lendlib{
width:835px;
margin:0 auto;
}
#categorybuttons{
width:100%;
}
#task_list{
list-style:none;
margin:0;
padding:0;
}
#task_list li{
list-style:none;
margin:5px;
}
#task_list li.task_item:hover{
background-color:#fc6;
color:#630;
}
#task_item{
vertical-align:middle;
}
#add_item{
padding-left:5px;
}
#btnAddItem{
padding:10px;
border-radius:5px;
}
#btnAddItem:hover{
background-color:#B7F099;
}
#edit_lendee{
padding-top:0;
margin-top:-2px;
}
.review-btn {
float: left;
clear: both;
margin: 0px 40%;
}
#categories{
margin:15px 15px 15px 10px;
}
#loginButtons{
margin-right:20px;
}

.tt-dropdown-menu {
width: 422px;
margin-top: 12px;
padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion p {
padding: 9px;
margin:0px;
background: #FFFD90;
}
.tt-is-under-cursor p {
background: #007F00;
color: #FFB;
}
.modal-body{
overflow:scroll;
max-height:550px;
}
.btn-inverse:active, .btn-inverse.active {
background-color: #008000;
}
#doing-project{
float: right;
height: 20px;
background-color: gray;
padding: 5px;
position: relative;
top: -30px;
visibility: hidden;
}

/* mobile css 
#task_list .task_item{
font-size:40px;
line-height:1.5em;
}
#task_list li.task_item{
padding:40px;
}
.title {
width: 130px;
font-size:4em;
}
#btnNewTask, .category {
width: 180px;
height:22px;  
padding: 25px 0;
font-size: 40px;
}
.btn-group .category.btn{
font-size:40px;
}
#categories-container {
height: 160px;
}
#loginButtons{
margin-right:20px;
height:50px;
}
#add-newtask{
height: 40px;
width: 665px;
font-size: 40px;
}


 end mobile css */

/* temporary fix for css select problem */
#top-project-filter *::-moz-selection { color: white;  background: transparent; }
#top-project-filter *::selection      { color: white;  background: transparent; }

.tt-suggestion p {
font-size: 14px;
}

#categories .twitter-typeahead {
position: relative;
left: 67px;
}

.tt-dropdown-menu {
margin-top:-10px;
width:230px;
}

.modal textarea {
width: 520px;
min-height: 500px;
}

#task_list.checklist .task_item {
width: 450px;
}

#task_list.checklist .close {
right: -432px;
}
